{% extends 'base.html' %}
{% block title %}Página Inicial - VetCare{% endblock %}
{%block script %}
<script defer src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
{% block content %}
<header id="header" class="header bg_blue_gradient_left">
    <div class="header_logo">
        <span id="iconLogo">
            <i class="fa-solid fa-thumbs-up"></i>
        </span>
        <h1>VetCare</h1>
    </div>
    <div class="header_userOp desktop">
        <button class="header_button">
            <a href="#">Novo Paciente</a>
        </button>
        <div class="header_user">
            <!-- <img src="" alt="DR"> -->
            <span>DR</span>
        </div>
    </div>
    <div class="header_userOp mobile menu-button">
        <i class="fa-solid fa-bars"></i>
    </div>

    <div class="sideBar_mobile close">
        <div class="sideBar_close_user">
            <div class="menu-sideBar">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="header_user">
                <!-- <img src="" alt="DR"> -->
                <span>DR</span>
            </div>
        </div>

        <div class="sideBar_menu_itens">
            <button class="header_button">
                <a href="#">Novo Paciente</a>
            </button>
        </div>

    </div>

</header>



<main class="main_home">
    <!-- NAVBAR -->
    <nav class="main_nav">
        <input id="searchBar" name="searchBar" type="text" placeholder="Buscar paciente por nome,ID ou responsável">
        <i class="fa-solid fa-magnifying-glass"></i>
    </nav>
    <!-- CARDS -->
    <section class="main_cardList">
        <!-- CARD-1 -->
        <article>
            <!-- head -->
            <header class="bg_blue_gradient_right">
                <div class="client">
                    <i class="fa-regular fa-circle-user"></i>
                    <h3>
                        <span>Rex</span>
                    </h3>
                </div>
                <span class="id">
                    ID: 001
                </span>
            </header>
            <!-- body -->
            <div class="content">
                <div class="status">
                    <span></span>
                    <span>Normal</span>
                </div>
                <div class="info">
                    <label for="Espécie">
                        <p>Espécie</p>
                        <span>Canino</span>
                    </label>
                    <label for="Raça">
                        <p>Raça</p>
                        <span>Labrador</span>
                    </label>
                    <label for="Idade">
                        <p>Idade</p>
                        <span>3 anos</span>
                    </label>
                    <label for="Responsável">
                        <p>Responsável</p>
                        <span>João Silva</span>
                    </label>
                </div>
            </div>
        </article>
        <!-- CARD-2 -->
        <article>
            <!-- head -->
            <header class="bg_blue_gradient_right">
                <div class="client">
                    <i class="fa-regular fa-circle-user"></i>
                    <h3>
                        <span>Luna</span>
                    </h3>
                </div>
                <span class="id">
                    ID: 002
                </span>
            </header>
            <!-- body -->
            <div class="content">
                <div class="status">
                    <span></span>
                    <span>Urgência</span>
                </div>
                <div class="info">
                    <label for="Espécie">
                        <p>Espécie</p>
                        <span>Canino</span>
                    </label>
                    <label for="Raça">
                        <p>Raça</p>
                        <span>Poodle</span>
                    </label>
                    <label for="Idade">
                        <p>Idade</p>
                        <span>5 anos</span>
                    </label>
                    <label for="Responsável">
                        <p>Responsável</p>
                        <span>Maria Oliveira</span>
                    </label>
                </div>
            </div>
        </article>
        <!-- CARD-3 -->
        <article>
            <!-- head -->
            <header class="bg_blue_gradient_right">
                <div class="client">
                    <i class="fa-regular fa-circle-user"></i>
                    <h3>
                        <span>Carlo</span>
                    </h3>
                </div>
                <span class="id">
                    ID: 003
                </span>
            </header>
            <!-- body -->
            <div class="content">
                <div class="status">
                    <span></span>
                    <span>Emergência</span>
                </div>
                <div class="info">
                    <label for="Espécie">
                        <p>Espécie</p>
                        <span>Canino</span>
                    </label>
                    <label for="Raça">
                        <p>Raça</p>
                        <span>Bulldog</span>
                    </label>
                    <label for="Idade">
                        <p>Idade</p>
                        <span>2 anos</span>
                    </label>
                    <label for="Responsável">
                        <p>Responsável</p>
                        <span>Carlos Santos</span>
                    </label>
                </div>
            </div>
        </article>
    </section>
</main>
{% endblock %}